<<<<<<< HEAD
html, body {
  margin: 0;
  overflow: hidden;
}

.invite{
  background-image:url("images/invitation.png");
}
=======



body{
  background-repeat: no-repeat;
  width:100%;
}
>>>>>>> 6b5d2be (Adding buttons)
